In [1]:
import pandas as pd
import numpy as np

In [5]:
all_data = pd.read_csv('/home/tiger/archived-data/aeolus-data/20201116/21/32343380-学习行为看板-学习行为与转化-查询4.csv', encoding = 'gb18030')
all_data.head()

,active_dt,user_id,first_milestone_name,d0_group_yn,d0_study_mins,d1_study_mins,d2_study_mins,d3_study_mins,d4_study_mins,d6_order_cnt
0,2020-11-05,1.688481e+15,NaN,0,0,0.0,0.0,0.0,0.0,NaN
1,2020-11-05,3.922689e+15,NaN,0,0,0.0,0.0,0.0,0.0,NaN
2,2020-11-05,1.323459e+15,A2初,0,17,0.0,0.0,0.0,0.0,NaN
3,2020-11-05,6.854687e+10,NaN,0,0,0.0,0.0,0.0,0.0,NaN
4,2020-11-05,4.133795e+15,NaN,0,0,0.0,0.0,0.0,0.0,NaN

In [6]:
all_data['d6_order_cnt'] = all_data['d6_order_cnt'].fillna(0)
all_data.head()

,active_dt,user_id,first_milestone_name,d0_group_yn,d0_study_mins,d1_study_mins,d2_study_mins,d3_study_mins,d4_study_mins,d6_order_cnt
0,2020-11-05,1.688481e+15,NaN,0,0,0.0,0.0,0.0,0.0,0.0
1,2020-11-05,3.922689e+15,NaN,0,0,0.0,0.0,0.0,0.0,0.0
2,2020-11-05,1.323459e+15,A2初,0,17,0.0,0.0,0.0,0.0,0.0
3,2020-11-05,6.854687e+10,NaN,0,0,0.0,0.0,0.0,0.0,0.0
4,2020-11-05,4.133795e+15,NaN,0,0,0.0,0.0,0.0,0.0,0.0

In [7]:
all_data.groupby(['d0_group_yn']).size()

d0_group_yn
0    189831
1     32300
dtype: int64

In [10]:
analysis_data = all_data[all_data.d0_group_yn == 1]
analysis_data.groupby(['active_dt']).size()

active_dt
2020-09-14    577
2020-09-15    840
2020-09-16    920
2020-09-17    807
2020-09-18    622
2020-09-19    473
2020-09-20    567
2020-09-21    418
2020-09-22    619
2020-09-23    460
2020-09-24    449
2020-09-25    534
2020-09-26    616
2020-09-27    677
2020-09-28    625
2020-09-29    563
2020-09-30    489
2020-10-01    367
2020-10-02    551
2020-10-03    617
2020-10-04    430
2020-10-05    440
2020-10-06    409
2020-10-07    411
2020-10-08    468
2020-10-09    601
2020-10-10    768
2020-10-11    683
2020-10-12    645
2020-10-13    578
2020-10-14    588
2020-10-15    605
2020-10-16    562
2020-10-17    465
2020-10-18    592
2020-10-19    517
2020-10-20    611
2020-10-21    561
2020-10-22    613
2020-10-23    605
2020-10-24    586
2020-10-25    699
2020-10-26    700
2020-10-27    703
2020-10-28    661
2020-10-29    649
2020-10-30    516
2020-10-31    519
2020-11-01    578
2020-11-02    643
2020-11-03    545
2020-11-04    491
2020-11-05    569
2020-11-06    425
2020-11-07    541
2020-11-08    532
dtype: int64